<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Goda Admin</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHy12YAUgj8tq_wJcDKmnIBwkwbLoC9kg&libraries=places"></script>
</head>
<body>
  <div id="root"></div>
</body>
</html>
